$primary-text-colour: #757575;
$secondary-text-colour: #212121;
$buttons-links-colour: #2196f3;
$background-colour: #ffffff;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;
