.mob_menu-button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  background: none;
  background-color: transparent;
  border: none;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 479px) {
  .mob_menu-button {
    display: block;
  }
}
.mob_menu-button:hover .mob_icons,
.mob_menu-button:focus .mob_icons {
  fill: $buttons-links-colour;
}

.mob_icon-cross {
  display: none;
}

.mob_menu-button.is-open .mob_icon-menu {
  display: none;
}
.mob_menu-button.is-open .mob_icon-cross {
  display: block;
}
